<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/templates.css')}}">
    <title>Calculate result</title>
</head>

<body>
    <div class="title">正整數平方計算結果</div>
    <div class="msg">
        {{ final_num }}
    </div>
    <div class="home">
        <a href=" /">回首頁</a>
    </div>


</body>

</html>